.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
}

.gallery-item a {
  display: block;
}

.gallery-image {
  height: 100%;
  width: 100%;
}
